body {
  /* background-color: #8cba80; */
  background-image: linear-gradient(45deg, #525f45, #f6f5ae, #3a86ff);
  animation: bg-anim 5s infinite alternate;
  overflow: hidden;
  margin: 0px;
}

@keyframes bg-anim {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.head {
  margin: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 20vh);
  grid-template-rows: repeat(3, 20vh);
  gap: 5px;
  margin-left: 10px;
  margin-right: 10px;
  /* width: calc(60vh + 10px);
  border: solid #183059 5px; */
}

.quad {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #274690;
  border: black 7px solid;
  font-weight: 700;
  font-size: 5rem;
  display: flex;
}

h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

button {
  font-weight: 700;
  font-family: "Garamond";
  margin-bottom: 15px;
  border: 5px solid black;
  font-weight: 800;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.8rem;
  background-color: #658e9c;
  height: 10vh;
  width: 25vh;
}

@media only screen and (max-width: 700px) {
  h1 {
    margin: 0px;

    margin-left: 20px;
    font-size: 3rem;
  }

  .board {
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(3, 25vw);
    width: calc(75vw + 10px);
  }
  .quad {
    font-size: 4rem;
  }

  button {
    color: black;
  }
}
