body {
  background-color: #f6f4f3;
  overflow: hidden;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

h2 {
  margin-right: 20px;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 20vh);
  grid-template-rows: repeat(3, 20vh);
  gap: 5px;
  margin: 10px;
  /* width: calc(60vh + 10px);
  border: solid #183059 5px; */
}

.quad {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #276fbf;
  border: #013665 10px solid;
  font-weight: 700;
  font-size: 5rem;
  display: flex;
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

button {
  font-weight: 700;
  font-family: "Garamond";
  margin-bottom: 15px;
  border: 5px solid black;
  font-weight: 800;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.8rem;
  background-color: #f03a47;
  height: 10vh;
  width: 25vh;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }

  .board {
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(3, 20vw);
    width: calc(60vw + 10px);
  }

  button {
    color: black;
  }
}
