body {
  background-color: #f6f4f3;
}

main {
  font-family: "Garamond";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vh;
  height: 100vh;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 20vh);
  grid-template-rows: repeat(3, 20vh);
  gap: 5px;
  margin: 10px;
  width: calc(60vh + 10px);
  border: solid #183059 5px;
}

.quad {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #276fbf;
  font-weight: 700;
  font-size: 5rem;
  display: flex;
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

button {
  font-weight: 700;
  font-family: "Garamond";
  margin-bottom: 15px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
  background-color: #f03a47;
  width: 25vh;
}
